<h1>Hi! Please Reset Password!</h1>

<p>
    Please reset password by clicking the following link: <br><br>
    <a href="{{ url('app_reset_password', {'hash': user.hash}) }}">Reset Password!</a>.
    This link will expire in <b> {{ user.hashExpired|date('d F Y H:i:s') }} </b>.
</p>

<p>
    Cheers!
</p>
