{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

<div class="container">
    <hr>
    <br>
    <div class="row">
        <div class="col-md-4 mb-5">
            <a class="nav-link text-primary" href="{{ path('app_order')}}">
                <i class="fa fa-archive fa-3x"></i> Your Order List
            </a>
        </div>
    </div>
</div>

{% endblock %}
